@import '../../../scss/variabels.scss';

.modal_footer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .footer_button{
        display: block;
        width: 100%;
        height: 2.5rem;
        background-color: $color-dark-gray;
        color: $color-white;
        font-family: inherit;
        font-size: 20px;
        text-transform: uppercase;
        outline: none;
        border: none;
        cursor: pointer;
        bottom: 0;
        position: absolute;
    }
}