@import '../../scss/variabels.scss';

.ReactModal__Content{
    margin-left: auto;
    margin-right: auto;
    transition: 1.1s ease-out;
    display: flex;
    flex-direction: column;
    width: 55%;
    max-width: 100%;
    border-radius: 50px !important;
    height: 75%;

    .modal_inner{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}